.page-main {
  position: relative;
  display: flex;
  flex-direction: column;

  padding-top: 160px;

  &::before {
    content: '';
    position: absolute;

    width: 80px;
    height: 90px;

    left: 50%;
    top: 50px;
    transform: translateX(-50%);

    background-image: url('./logo.svg');
    background-repeat: no-repeat;
  }

  @media (min-width: 960px) {
    width: 754px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }
}
